@import './styles/variables.scss';

$appRadius: 30px;

#app {
    max-width: 1330px;
    border-radius: 30px;
    margin: 30px auto;
}

.mainContent {
    background-color: $primaryColor;
    padding: 4rem 3rem 2rem 3rem;    
    border-top-left-radius: $appRadius;
    border-bottom-left-radius: $appRadius;
    
    h1 {
        margin-top: 3rem;
    }
    .places {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 3rem 0;
    }
}

.sidebar {
    background-color: $sidebarColor;
    height: 100vh;    
    border-top-right-radius: $appRadius;
    border-bottom-right-radius: $appRadius;    
    padding: 64px 50px;

    .today {
        margin-top: 120px;
    }
}